 <!-- About Section -->
    <section id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>Information</h2>
                    <hr class="star-primary">
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4 col-lg-offset-2">
                    <p>Fondation Dona-ana har i flera år hjälp kvinnor i Kongo att utbilda sig. Utan donationerna hade stipendierna aldrig varit möjliga och vi är evigt tacksamma för de som engagerar sig.  </p>
                </div>
                <div class="col-lg-4">
                    <p>Nu till jul kommer vi att erbjuda ett gåvobevis till de som är intresserade av att donera. När du swishar anger du den mailadress som du vill ha gåvobeviset skickat till.   </p>
                </div>
                
                <div class="col-lg-8 col-lg-offset-2 text-center">          
                </div>
                
            </div>
            <div style="width: 100%; text-align: center; margin-top: 30px;" ><p>Swisha ditt bidrag till : 123 169 8463</p><p><img style="width: 250px; margin-top: -50px" src = "img/swish.png"> </p></div>
        </div>
    </section>
