<!-- About Section -->
<section id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2>Information</h2>
                <hr class="star-primary">
            </div>
        </div>
        <div class="row" style="width: 100%;">
            <div class="col-lg-4" style="width: 100%;">
                <h3>Varför namnet</h3>
                <h5>Bakgrund och Historik</h5>
                <p>
                    År 1483 anlände de första portugisiska, katolska missionärerna till kungariket Kongo, just
                    vid
                    Kongoflodens mynning. Troligen – enligt historiska källor – sökte den portugisiske
                    sjöfararen Diego
                    Caõ efter kontinenten Afrikas södra udde för att sedan söka sig upp längs ostsidan, i
                    letandet efter
                    ett förmodat, stort, kristet kungarike som skulle kunna hjälpa Portugal i kampen mot de,
                    från söder,
                    (Nordafrika) attackerande muslimerna.
                </p>
                <p>
                    Efter landstigning, då dimman lättat, fann portugiserna att de befann sig vid en gigantisk
                    flodmynning. Kongofloden var således ”upptäckt”. I kungariket Kongo regerade vid den tiden
                    Nzinga
                    Nkuvu. Efter några år (1491) lät Nzinga Nkuvu döpa sig, hans familj och kungarike blev
                    kristet och
                    de katolska missionärerna arbetade hårt för att döpa så många som möjligt.
                </p>
                <p>
                    Medan sönerna till de kongolesiska adelsmännen fick resa till Lissabon för att studera,
                    lämnades de
                    unga kvinnorna hemma. Mwemba Nzinga, regent mellan 1506-1543, lär ha haft en hustru som ca.
                    1530
                    grundade en skola för de hemmavarande unga kvinnorna.
                </p>
                <p>
                    Det är tveksamt, men inte omöjligt, att hennes kristna namn var Ana eller Anna. Som
                    drottning
                    titulerades hon i så fall ”Dona Ana”. Den mest framstående Dona Ana (1583-1663) var
                    emellertid en
                    kvinnlig drottning över Ndongo och Matamba rikena i nuvarande Angola. Säkert är emellertid
                    att
                    namnet Dona Ana är förknippat med utbildning och kvinnligt ledarskap i det gamla Kongoriket.
                </p>
                <p>
                    Fondation Dona Ana har inga politiska avsikter och är inte på något sätt kopplat till ett
                    återupprättande av det gamla Kongoriket. Stiftelsen har låtit sig inspireras av namnet Dona
                    Ana som
                    ”symbol” för utbildning och entreprenörskap för och bland unga kongolesiska kvinnor.
                </p>
            </div>
            <div class="col-lg-4" style="width: 100%;">
                <h3>Vision och ”uppgift”</h3>
                <p>Fondation Dona Ana’s vision är att genom stipendieförmedling främja unga kvinnors, i Republiken Kongo
                    och Demokratiska Republiken Kongo, utbildning och därigenom bidra till att de själva kan förbättra
                    sina och sina familjers livsvillkor. Vidare vill Dona Ana bidra till medvetandegörande av
                    stipendiaterna så att de kan
                    <ul>
                        <p>
                            <li> hävda sina rättigheter,</li>
                            <li>bli medvetna medborgare i sina respektive samhällen</li>
                            <li>få tillträde till olika samhällsarenor</li>
                            <li>agera för att förändra mekanismer som ligger bakom förtryck, diskriminering och
                                fattigdom
                            </li>
                            <li> starta projekt inom jämställdhet och demokratifrågor</li>
                    </ul>
                </p>
                <p>
                    Till visionen hör också att skapa en gemenskap av bidragsgivare i Sverige, som via olika medier kan
                    stå i regelbunden kontakt med de studenter som erhåller bidrag.
                </p>
            </div>

            <div class="col-lg-8 col-lg-offset-2 text-center">
            </div>

        </div>
    </div>
</section>