
<script>
    fetch('https://cdn.contentful.com/spaces/w3jh9m85pbur/entries?access_token=IHcFwBzzACfgEZCC0bRCCp5RNrMlCEEy1aRsvTta1xY')
    .then(json => json.json())
    .then(resp => {
        const students = resp.items.filter(item => item.sys.contentType.sys.id === 'students')
        students.map(item => {
          const html = `
           <div key="${item.fields.id}" class="portfolio-modal modal fade" id="portfolioModal-${item.fields.id}" tabindex="-1" role="dialog" aria-hidden="true"></div>
           `
           const node = document.createElement("div");
           node.innerHTML = html;
           document.getElementById("wrapper").appendChild(node)

        const s = document.querySelector(`#portfolioModal-${item.fields.id}`).innerHTML = `
        <div key=${item.fields.id + 50} class="modal-content">
            <div class="close-modal" data-dismiss="modal">
                <div class="lr">
                    <div class="rl">
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="row" style="display:flex; justify-content:center;">
                    <div class="col-lg-8 col-lg-offset-2">
                        <div class="modal-body">
                            <h2>${item.fields.name}</h2>
                            <hr class="star-primary">
                            <img src="${item.fields.imageUrl}" class="img-responsive img-centered" alt="{{ post.alt }}">
                                <p>${item.fields.description}</p>
                            <ul class="list-inline item-details">
                                    <li>Utbildning:
                                        <strong>${item.fields.education}
                                        </strong>
                                    </li>
                                    <li>Datum:
                                        <strong>${item.fields.date}
                                        </strong>
                                    </li>
                                    <li>Område:
                                        <strong>${item.fields.area}
                                        </strong>
                                    </li>
                            </ul>
                            <button type="button" class="btn btn-default" data-dismiss="modal"><i class="fa fa-times"></i> Close</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
   `
                    })
                        
    })
    </script>
 

 <div id="wrapper"></div>
