<!-- News section -->
<section id="news">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2>Nyheter</h2>
                <hr class="star-primary">
            </div>
        </div>
        <div class="row">
            <div class="col-lg-4 col-lg-offset-2">
                <h3>Senaste nytt</h3>
                <h5>I Kongo har detta skett sedan start</h5>
                <p>
                    NYHETER
                </p>
                <p>
                    Nytt
                </p>
                <p>
                    Mer NYTT
                </p>
                <p>
                    Nyheter
                </p>
                <p>
                    Nyheter
                </p>
            </div>
            <div class="col-lg-4">
                <h3>NYTT</h3>
                <p>Nyheter

                </p>
                <p>
                    Nyheter
                </p>
            </div>

            <div class="col-lg-8 col-lg-offset-2 text-center">
            </div>

        </div>
        <div style="width: 100%; text-align: center; margin-top: 30px;">
        </div>
    </div>
</section>