<!-- News section -->
<section id="news">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2>Nyheter</h2>
                <hr class="star-primary">
            </div>
        </div>
        <div class="row" style="text-align: center; display:flex; justify-content: center;">
            <div class="col-lg-4 col-lg-offset-2" style=" margin-left: 0;">
                <h3>Senaste Studenten!</h3>
                <img class="img-responsive" style="border-radius: 50%;" src="img/Dulcie-Kavundi.jpg" alt="">
                <h5>Dulcie Kavundi är våran senaste student. Hon har nu kommit igång med studierna. För att underlätta
                    detta har hon fått en begagnad laptop samt en solcellslampa.</h5>
                <img class="img-responsive" style="border-radius: 50%;" src="img/Dulce.jpg" alt="">
            </div>
            <div class="col-lg-4 col-lg-offset-2" style=" margin-left: 0;">
                <h3>Internationella kvinnodagen</h3>
                <h5>Fira Internationella kvinnodagen den 8 mars med att uppskatta och fira en kvinna som du tänker på
                    med en gåva till Fondation Dona Ana.
                    Swisha till 123 169 84 63 eller girera till bankgiro 5458-8231.
                    Fondation Dona Ana arbetar med utbildning av flickor till ett yrkesliv. Du kan läsa mer på vår
                    hemsida www.dona-ana.nu.</h5>
            </div>
        </div>
        <div style="width: 100%; text-align: center; margin-top: 30px;">
        </div>
    </div>
</section>